---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact</Fragment>
      <Fragment slot="desc">Please do not hesitate to get in touch with us.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl">Contact BirthDebrief</h2>
        <p class="text-lg leading-relaxed text-slate-900 mt-3">
        Please use the contact form to get in touch if you have any further questions you wish to ask.  We are here to help.
        </p>
      </div>
    </div>
    <div>
        <Contactform />
    </div>
  </Container>
</Layout>
