---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Cta from "@components/cta.astro";
---

<Layout title="Frequently Asked Questions">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Frequently Asked Questions</Fragment>
      <Fragment slot="desc">Unsure about something? Use the links below to find answers to our most frequently asked questions.</Fragment>
    </Sectionhead>

    <div class="flex flex-col divide-y gap-3 mt-16 divide-green-700">
      <details>
        <summary class=" text-lg py-2 outline-none cursor-pointer focus:underline">What is birth debriefing?</summary>
        <div class="px-4 pb-4">
          <p>At birthdebrief.com, a birth debrief is a 60-minute client-led session to discuss your perinatal experiences. It’s not limited to the birth itself; you can explore any part of your reproductive journey. This process helps in understanding, processing, and coming to terms with your experience.</p>
        </div>
      </details>
      <details>
        <summary class=" text-lg py-2 outline-none cursor-pointer focus:underline">Who can benefit from birth debriefing</summary>
        <div class="px-4 pb-4">
          <p>Anyone on the journey to parenthood can benefit from birth debriefing/reflection, including those facing fertility issues, pregnancy loss, birth trauma, maternity care experiences, or neonatal challenges. At birthdebrief.com, we recognise the significant impact on partners and birthing partners, offering debriefs for individuals or couples to provide a safe space for discussing their experiences.</p>
        </div>
      </details>
      <details>
        <summary class=" text-lg py-2 outline-none cursor-pointer focus:underline">How can I schedule a birth debriefing session?</summary>
        <div class="px-4 pb-4">
          <p>You can schedule a birth debriefing session by clicking the "Book Appointment" button at the bottom of this page. We offer online video consultations, allowing you to conduct your birth debriefing in the comfort and safety of your own home.</p>
        </div>
      </details>
      <details>
        <summary class=" text-lg py-2 outline-none cursor-pointer focus:underline">What topics are covered during a birth debriefing session?</summary>
        <div class="px-4 pb-4">
          <p>At birthdebrief.com, you decide the topics to discuss during your birth debrief session to ensure you get the most out of it. You can cover any aspect of your perinatal experience, including pregnancy, birth, postnatal care, and more.</p>
        </div>
      </details>
      <details>
        <summary class=" text-lg py-2 outline-none cursor-pointer focus:underline">Do I need my hospital notes?</summary>
        <div class="px-4 pb-4">
          <p>No, you don't need your hospital notes for a birth debrief session. However, if you would like us to guide you through the events and medical terminology, having them can be helpful.</p>
        </div>
      </details>
      <details>
        <summary class=" text-lg py-2 outline-none cursor-pointer focus:underline">What are the limitations of a birth debrief?</summary>
        <div class="px-4 pb-4">
          <p>At birthdebrief.com, our trained midwives provide a safe, trauma-informed space for reflection. However, we do not offer therapy or counselling. Depending on your needs, we may signpost relevant support services. Additionally, we cannot comment on the clinical management or decision-making of other healthcare professionals.</p>
        </div>
      </details>
      <details>
        <summary class=" text-lg py-2 outline-none cursor-pointer focus:underline">Can I have a birth debrief if my experience was years ago?</summary>
        <div class="px-4 pb-4">
          <p>Yes, there is no time limit for accessing care from birthdebrief.com. You can have a birth debrief regardless of how much time has passed since your experience.</p>
        </div>
      </details>
      <details>
        <summary class=" text-lg py-2 outline-none cursor-pointer focus:underline">Is birth debriefing helpful for trauma related to childbirth or my reproductive journey?</summary>
        <div class="px-4 pb-4">
          <p>Yes, birth debriefing can be especially beneficial for those who have experienced a traumatic birth or related event. It provides a safe space to discuss and understand the experience, which is crucial for emotional recovery. We can screen for the impact of reproductive trauma and signpost additional support as needed.</p>
        </div>
      </details>
      <details>
        <summary class=" text-lg py-2 outline-none cursor-pointer focus:underline">What qualifications do you have?</summary>
        <div class="px-4 pb-4">
          <p>At birthdebrief.com, Natalie and Clare are practicing NHS midwives registered with the Nursing and Midwifery Council. They hold midwifery degrees and advanced qualifications in perinatal mental health. Both are accredited trainers in perinatal mental health and have extensive training in the emotional wellbeing of women and their families.</p>
        </div>
      </details>
      <details>
        <summary class=" text-lg py-2 outline-none cursor-pointer focus:underline">How long is a session and what are the costs?</summary>
        <div class="px-4 pb-4">
          <p>A single, 1-hour session costs £100, and can be booked right now on this page by clicking the 'Book Appointment' button.</p>
        </div>
      </details>
    </div>
  <Cta />
  </Container>
</Layout>
