---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Cta from "@components/cta.astro";
---

<Layout title="Frequently Asked Questions">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Frequently Asked Questions</Fragment>
      <Fragment slot="desc">Unsure on something?  Use the links below which answer some of our most frequently asked questions.</Fragment>
    </Sectionhead>

    <div class="flex flex-col divide-y gap-3 mx-auto max-w-4xl mt-16 divide-green-700">
      <details>
        <summary class="font-semibold text-lg py-2 outline-none cursor-pointer focus:underline">What is birth debriefing?</summary>
        <div class="px-4 pb-4">
          <p>Birth debriefing refers to a structured discussion with a healthcare professional where parents can discuss their birth experience. It helps in understanding, processing, and coming to terms with their childbirth experience.</p>
        </div>
      </details>
      <details>
        <summary class="font-semibold text-lg py-2 outline-none cursor-pointer focus:underline">Who can benefit from birth debriefing</summary>
        <div class="px-4 pb-4">
          <p>Anyone who has experienced childbirth can benefit from debriefing. This includes mothers, fathers, and other birth partners who feel they need to discuss their experiences and feelings about the birth process.</p>
        </div>
      </details>
      <details>
        <summary class="font-semibold text-lg py-2 outline-none cursor-pointer focus:underline">How can I schedule a birth debriefing session?</summary>
        <div class="px-4 pb-4">
          <p>You can schedule a birth debriefing session by clicking 'Book Appointment' located at the bottom of this page.  We offer online video consultations so you can carry out your birth debriefing in your safe space.</p>
        </div>
      </details>
      <details>
        <summary class="font-semibold text-lg py-2 outline-none cursor-pointer focus:underline">What topics are covered during a birth debriefing session?</summary>
        <div class="px-4 pb-4">
          <p>Topics can include the birth process, communication with healthcare providers, emotional and physical experiences during labor, and any specific events or concerns you have about your childbirth experience.</p>
        </div>
      </details>
      <details>
        <summary class="font-semibold text-lg py-2 outline-none cursor-pointer focus:underline">Is birth debriefing helpful for trauma related to childbirth?</summary>
        <div class="px-4 pb-4">
          <p>Yes, birth debriefing can be particularly beneficial for those who experienced traumatic births. It provides a safe space to discuss the event and understand more about what happened, which can be crucial for emotional recovery.</p>
        </div>
      </details>
      <details>
        <summary class="font-semibold text-lg py-2 outline-none cursor-pointer focus:underline">Can I have a birth debriefing if my child was born years ago?</summary>
        <div class="px-4 pb-4">
          <p>Absolutely, there is no time limit for when a birth debriefing can be helpful. Whether your child was born weeks, months, or years ago, discussing your experience can still be beneficial.</p>
        </div>
      </details>
      <details>
        <summary class="font-semibold text-lg py-2 outline-none cursor-pointer focus:underline">What qualifications do your birth debriefers have?</summary>
        <div class="px-4 pb-4">
          <p>Our debriefers are licensed professionals with backgrounds in obstetrics, midwifery, or mental health. They are trained to support individuals through the debriefing process, ensuring a supportive and informative session.</p>
        </div>
      </details>
      <details>
        <summary class="font-semibold text-lg py-2 outline-none cursor-pointer focus:underline">How long does a typical birth debriefing session last?</summary>
        <div class="px-4 pb-4">
          <p>A typical session lasts between 60 to 120 minutes. This time allows you to thoroughly explore your childbirth experience without feeling rushed.</p>
        </div>
      </details>
      <details>
        <summary class="font-semibold text-lg py-2 outline-none cursor-pointer focus:underline">How can birth debriefing impact my mental health after childbirth?</summary>
        <div class="px-4 pb-4">
          <p>Birth debriefing can significantly improve mental health by allowing you to express and process emotions related to childbirth, which can help in reducing feelings of stress, anxiety, and depression.</p>
        </div>
      </details>
    </div>
  <Cta />
  </Container>
</Layout>
