---
import Container from "@components/container.astro";
import Button from "@components/ui/button.astro";
import Icon from "@components/ui/icon.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

type MenuItem = {
  title: string;
  path: string;
  children?: MenuItem[]; // Optional array of child menu items
};

const menuitems: MenuItem[] = [
  {
    title: "Our Team",
    path: "/about",
  },
  {
    title: "FAQ",
    path: "/faq",
  },
  {
    title: "Contact",
    path: "/contact",
  },
];
---


<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between relative z-30">
        <a href="/" class="text-2xl font-extrabold text-green-700 tracking-tight flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="944.43 544.17 747.14 658.8" width="65" height="65">  <path fill="#d1fae5" d="M1317 1151c0 32 35 49 58 29 74-65 125-109 173-160 127-134 117-258 117-258v-8c0-104-82-187-182-196-31-3-58 0-82 6a115 115 0 0 0-84 111Z"></path>  <path fill="none" stroke="#15803d" stroke-miterlimit="10" stroke-width="25.3" d="M1317 1151c0 32 35 49 58 29 74-65 125-109 173-160 127-134 117-258 117-258v-8c0-104-82-187-182-196-31-3-58 0-82 6a115 115 0 0 0-84 111Z"></path>  <path fill="#d1fae5" d="M1317 1150c0 32-34 49-57 29-73-65-125-108-172-159-128-134-117-258-117-258v-8c0-104 81-187 181-196 31-3 57 0 81 6 51 15 84 60 84 111z"></path>  <path fill="none" stroke="#15803d" stroke-miterlimit="10" stroke-width="25.3" d="M1317 1150c0 32-34 49-57 29-73-65-125-108-172-159-128-134-117-258-117-258v-8c0-104 81-187 181-196 31-3 57 0 81 6 51 15 84 60 84 111z"></path>  <path fill="#d1fae5" d="M1461 1022c22-18 55-51 60-82 2-16-14-26-28-18-37 22-106 72-144 137-52 93-36 143 27 129 61-13 256-137 293-248 36-110-37-117-44-81-13 57-84 157-158 173-6 2-10-6-6-10"></path>  <path fill="none" stroke="#15803d" stroke-miterlimit="10" stroke-width="25.3" d="M1461 1022c22-18 55-51 60-82 2-16-14-26-28-18-37 22-106 72-144 137-52 93-36 143 27 129 61-13 256-137 293-248 36-110-37-117-44-81-13 57-84 157-158 173-6 2-10-6-6-10Z"></path>  <path fill="#d1fae5" stroke="#15803d" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="25.3" d="M1223 598s14 54 86 58m-305 0s16 55 87 59m66-155s-61 144 102 168"></path>  <path fill="#d1fae5" stroke="#15803d" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="25.3" d="M1137 783s-8-56 34-85m145 110s-31-33-85-16c-26 7-56 28-67 75 0 0-52-45-117 0"></path>  <path fill="#d1fae5" stroke="#15803d" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="25.3" d="M1080 774s-8 46 19 73m208 127s-99 5-75-98"></path>  <path fill="#d1fae5" d="M1175 1022c-22-18-55-51-59-82-3-16 15-26 27-18 37 22 106 72 144 137 53 93 36 143-27 129-61-13-256-137-293-248-36-110 37-117 45-81 12 57 83 157 157 173 6 2 10-6 6-10"></path>  <path fill="none" stroke="#15803d" stroke-miterlimit="10" stroke-width="25.3" d="M1175 1022c-22-18-55-51-59-82-3-16 15-26 27-18 37 22 106 72 144 137 53 93 36 143-27 129-61-13-256-137-293-248-36-110 37-117 45-81 12 57 83 157 157 173 6 2 10-6 6-10Z"></path></svg>
          <span class="ml-1.5">birthdebrief</span>
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-10 h-10" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0 lg:relative fixed inset-0 bg-emerald-100 z-20">
        <div class="h-full lg:h-auto flex flex-col lg:block justify-center px-4 lg:px-0">
          <ul class="flex flex-col lg:flex-row lg:gap-3 font-medium text-center lg:text-left">
            {
              menuitems.map((item, index) => (
                <>
                  {item.children && (
                    <Dropdown
                      title={item.title}
                      children={item.children}
                      lastItem={index === menuitems.length - 1}
                    />
                  )}

                  {!item.children && (
                    <li>
                      <a
                        href={item.path}
                        class="flex lg:px-3 py-4 lg:py-2 items-center justify-center lg:justify-start hover:text-slate-900 text-xl lg:text-base">
                        <span>{item.title}</span>
                      </a>
                    </li>
                  )}
                </>
              ))
            }
          </ul>
          <div class="mt-8 lg:hidden">
            <Button 
              href="#booking"
              size="lg" 
              class="flex items-center justify-center gap-2 whitespace-nowrap w-full">
              <Icon name="mdi:calendar-heart" class="text-white" size={20} />
              <span>Book Appointment</span>
            </Button>
          </div>
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <Button 
          href="#booking"
          size="lg" 
          class="flex items-center justify-center gap-2 whitespace-nowrap">
          <Icon name="bx:bxs-calendar-heart" />
          <span>Book Appointment</span>
        </Button>
      </div>
    </div>
  </header>
</Container>

<style>
  /* Only apply these styles to mobile menu */
  @media (max-width: 1024px) {
    :global(.astronav-toggle.expanded) ~ .astronav-menu {
      @apply flex;
    }
  }
</style>
