---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Expert Guidance",
    description:
      "Access to experienced healthcare professionals specializing in pregnancy and postnatal care.",
    icon: "bx:bxs-spa",
  },
  {
    title: "Flexible Scheduling",
    description:
      "Book consultations at your convenience, with options for immediate support.",
    icon: "bx:bxs-calendar-heart",
  },
  {
    title: "Comprehensive Support",
    description:
      "Holistic care covering emotional, physical, and psychological needs.",
    icon: "bx:bxs-like",
  },
  {
    title: "Privacy and Comfort",
    description:
      "Secure and private sessions from the comfort of your home.",
    icon: "bx:bxs-donate-heart",
  },
  {
    title: "Tailored Advice",
    description:
      "Personalized recommendations to suit your specific circumstances and challenges.",
    icon: "bx:bxs-comment-dots",
  },
  {
    title: "Continuous Care",
    description:
      "Ongoing support throughout your pregnancy and postnatal journey.",
    icon: "bx:bxs-phone-call",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold tracking-tight">
    Compassionate Support for Families
  </h2>
  <p class="text-lg mt-4">
    Explore expert-led video consultations at Birth Debrief, your trusted partner through pregnancy challenges and postnatal care. Our specialized support helps families navigate pregnancy complications and postnatal trauma with professional advice and compassionate care
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-green-700 rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
