---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Pre-Conception Plans",
    description:
      "Considering pregnancy? At BirthDebrief.com, we can discuss your needs and create a personalized pre-conception plan to enhance your sense of control throughout your perinatal journey.",
    icon: "bx:bxs-spa",
  },
  {
    title: "Flexible Scheduling",
    description:
      "Book consultations at your convenience, with options for immediate support.",
    icon: "bx:bxs-calendar-heart",
  },
  {
    title: "Birth Plans",
    description:
      "If you are pregnant, BirthDebrief.com offers comprehensive birth plans tailored to your individual preferences. Our advocacy ensures you and your caregivers can optimise your birth experience.",
    icon: "bx:bxs-like",
  },
  {
    title: "Privacy and Comfort",
    description:
      "Private and confidential support from the comfort of your own home.",
    icon: "bx:bxs-donate-heart",
  },
  {
    title: "Tailored Advice",
    description:
      "Personalised recommendations to suit your specific circumstances and challenges.",
    icon: "bx:bxs-comment-dots",
  },
  {
    title: "Continuous Care",
    description:
      "Ongoing support throughout your pregnancy and postnatal journey.",
    icon: "bx:bxs-phone-call",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold tracking-tight">
    Our Aim – Reflect, Reframe, Recover
  </h2>
  <p class="text-lg mt-4">
    In each session, we create a safe space for you to explore your experiences holistically, reflecting on their impact on your emotional, psychological, and physical wellbeing. We validate your experiences by listening without judgment and acknowledging uncomfortable feelings. Our goal is to help you regain control, positively reframe, and process your experiences.<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-green-700 rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
