---
import { Picture } from "astro:assets";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="max-w-600 py-6 md:order-1 hidden md:block">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="944.43 544.17 747.14 658.8" width="500" height="500">  <path fill="#d1fae5" d="M1317 1151c0 32 35 49 58 29 74-65 125-109 173-160 127-134 117-258 117-258v-8c0-104-82-187-182-196-31-3-58 0-82 6a115 115 0 0 0-84 111Z"></path>  <path fill="none" stroke="#15803d" stroke-miterlimit="10" stroke-width="25.3" d="M1317 1151c0 32 35 49 58 29 74-65 125-109 173-160 127-134 117-258 117-258v-8c0-104-82-187-182-196-31-3-58 0-82 6a115 115 0 0 0-84 111Z"></path>  <path fill="#d1fae5" d="M1317 1150c0 32-34 49-57 29-73-65-125-108-172-159-128-134-117-258-117-258v-8c0-104 81-187 181-196 31-3 57 0 81 6 51 15 84 60 84 111z"></path>  <path fill="none" stroke="#15803d" stroke-miterlimit="10" stroke-width="25.3" d="M1317 1150c0 32-34 49-57 29-73-65-125-108-172-159-128-134-117-258-117-258v-8c0-104 81-187 181-196 31-3 57 0 81 6 51 15 84 60 84 111z"></path>  <path fill="#d1fae5" d="M1461 1022c22-18 55-51 60-82 2-16-14-26-28-18-37 22-106 72-144 137-52 93-36 143 27 129 61-13 256-137 293-248 36-110-37-117-44-81-13 57-84 157-158 173-6 2-10-6-6-10"></path>  <path fill="none" stroke="#15803d" stroke-miterlimit="10" stroke-width="25.3" d="M1461 1022c22-18 55-51 60-82 2-16-14-26-28-18-37 22-106 72-144 137-52 93-36 143 27 129 61-13 256-137 293-248 36-110-37-117-44-81-13 57-84 157-158 173-6 2-10-6-6-10Z"></path>  <path fill="#d1fae5" stroke="#15803d" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="25.3" d="M1223 598s14 54 86 58m-305 0s16 55 87 59m66-155s-61 144 102 168"></path>  <path fill="#d1fae5" stroke="#15803d" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="25.3" d="M1137 783s-8-56 34-85m145 110s-31-33-85-16c-26 7-56 28-67 75 0 0-52-45-117 0"></path>  <path fill="#d1fae5" stroke="#15803d" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="25.3" d="M1080 774s-8 46 19 73m208 127s-99 5-75-98"></path>  <path fill="#d1fae5" d="M1175 1022c-22-18-55-51-59-82-3-16 15-26 27-18 37 22 106 72 144 137 53 93 36 143-27 129-61-13-256-137-293-248-36-110 37-117 45-81 12 57 83 157 157 173 6 2 10-6 6-10"></path>  <path fill="none" stroke="#15803d" stroke-miterlimit="10" stroke-width="25.3" d="M1175 1022c-22-18-55-51-59-82-3-16 15-26 27-18 37 22 106 72 144 137 53 93 36 143-27 129-61-13-256-137-293-248-36-110 37-117 45-81 12 57 83 157 157 173 6 2 10-6 6-10Z"></path></svg></div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold tracking-tight xl:tracking-tighter">
      Reflect, Reframe, Recover
    </h1>
    <p class="text-lg mt-4 max-w-xl">
      Begin your journey to healing today. Connect with our caring experts through a personalized video consultation and find the support you and your family need.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        size="lg"
        style="primary"
        href="https://vev.co/birthdebrief-gb"
        target="_blank"
        class="bg-green-700 flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-calendar-heart" />
         Book Appointment
      </Link>
    </div>
  </div>
</main>
