---
---

<div class="mx-auto my-16">
    <div class="mb-8">
      <h2 class="text-4xl lg:text-5xl font-bold tracking-tighter">
        What You Said
      </h2>
    </div>
    
    <div class="bg-white rounded-lg p-8 shadow-sm border-2 border-green-700 border-opacity-20 opacity-80">
      <div class="relative">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="absolute top-0 left-0 w-8 h-8 text-green-600 opacity-20">
          <path fill="currentColor" d="M232,246.857V16H16V416H54.4ZM48,48H200V233.143L48,377.905Z"></path>
          <path fill="currentColor" d="M280,416h38.4L496,246.857V16H280ZM312,48H464V233.143L312,377.905Z"></path>
        </svg>
        <div class="pl-12">
          <p class="text-lg italic text-gray-800 mb-4">
            "After our meeting I felt like I had lived through the day again, but in a totally new light.  It changed my whole perspective on my daughter's birth.  I cannot describe how this meeting has completely changed my birth experience"
          </p>
          <div class="flex items-center">
            <div class="h-1 w-8 bg-green-700 rounded mr-3"></div>
            <p class="font-medium text-gray-700">Lauren</p>
          </div>
        </div>
      </div>
    </div>
  </div>