---
const { 
  href, 
  size = "lg", 
  style = "primary", 
  block, 
  class: className, 
  ...rest 
} = Astro.props;

// Common classes for consistent styling
const commonClasses = [
  "rounded-md",
  "text-center",
  "transition",
  "focus-visible:ring-2",
  "ring-offset-2",
  "ring-gray-200",
  "focus:outline-none",
  block && "w-full",
  size === "lg" && "px-5 py-2.5",
  style === "primary" && "bg-green-700 text-white hover:bg-green-800",
  style === "outline" && "border-2 border-green-700 hover:bg-green-50",
  className
];
---

{
  href ? (
    <a
      href={href}
      class:list={commonClasses}
      {...rest}>
      <slot />
    </a>
  ) : (
    <button
      type="button"
      class:list={commonClasses}
      {...rest}>
      <slot />
    </button>
  )
}